[Unit]
Description={{ deb_package_description }}
Requires=network.target

[Service]
Type=simple
WorkingDirectory=/usr/opt/vertcore
ExecStart=/usr/opt/vertcore/bin/vertcored
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=15
User=vertcore
ExecStartPre=/bin/mkdir -p /run/vertcore
ExecStartPre=/bin/chown vertcore:vertcore /run/vertcore
ExecStartPre=/bin/chmod 755 /run/vertcore
PermissionsStartOnly=true
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target