[Unit]
Description=Bitcoin Core for vertcore
Requires=network.target

[Service]
Type=simple
WorkingDirectory=/usr/opt/vertcore
ExecStart=/usr/bin/vertcore-bitcoind -datadir=/home/vertcore/.vertcore/data/
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=15
User=vertcore
ExecStartPre=/bin/mkdir -p /run/vertcore
ExecStartPre=/bin/chown vertcore:vertcore /run/vertcore
ExecStartPre=/bin/chmod 755 /run/vertcore
PermissionsStartOnly=true
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target